 /* nav bar-top part  */
 * {
    box-sizing: border-box;
}


#nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#navtop1 {
    display: flex;
    gap: 10px;
    color: #e31b88;
}

#navtop2 {
    display: flex;
    gap: 10px;
    color: rgb(74, 74, 253);
}

#navtop1>a {
    margin-top: 13px;
}

#navtop2>a {
    margin-top: 13px;
}

/* app logo part nav part */


/* #logoline {
    height: 150px;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
} */


#logo {
    display: flex;
    margin-top: 15px;
    font-size: 25px;
    gap: 20px;
}

#logo>img {
    width: 20%;
    margin-left: 400px;
}

#logo>div>input {
    margin-top: 20px;
    padding: 3%;
    padding-right: 100px;
    font-size: 25px;
}

#logo>a {
    margin-top: 35px;
    margin-left: 20px;
    font-size: 25px;
    color: black;
}

#logo>a:hover {
    color: blue;
}

#options {

    display: flex;
    gap: 50px;
    margin-top: 30px;
    font-size: 21px;
    padding-bottom: 1%;

}

*/ #options>a {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #4a4a4a;
}

#options>a {
    text-decoration: none;
}


/* adv part */

#adv {
    background-color: #e6f5ff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    color: rgb(122, 122, 245);
}


#fav-container {
    width: 90%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%;
}

#fav-container>div {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

#fav-container>div>img {
    width: 40%;
    margin-left: 70px;

}



#fav-container>div>h2{
    text-align: center;
    
}
#fav-container>div>p{
    text-align: center;
}

#fav-container>div>h3{
    text-align: center;
    color: #727272;
}
#fav-container>div>h5{
    text-align: center;
}

#fav-container>div>p {
    color: #ef2929;
    font-size: 16px;
}
#fav-container>div>button{
    background-color: red;
    color: white;
    margin-left: 30%;
    border: none;
    padding: 2%;
}

/* discripstion part */

#dispart {

    width: 60%;

    margin: 80px auto;

    font-family: Arial, Helvetica, sans-serif;
}

#dispart>pre {
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
}


/* discripsion part */

#bootom_part {
    display: flex;
    width: 80%;
    margin: 50px auto;
    gap: 50px;

}
#bootom_part>div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
#bootom_part>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

#bootom_part>div:nth-child(2)>div>p {
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
    font-size: 17px;
}

#bootom_part>div>p {
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
    font-size: 17px;
}

#bootom_part>h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}


/* last bottom part */

#lastbottom {
    height: 200px;
    width: 100%;
    background-color: #e6e6e6;
    padding: 3%;
}

#lastbottom>pre {
    text-align: center;
    font-size: 13px;
}

#lastbottom>p {
    text-align: center;
    color: #727272;
}
#pay{
    color: rgb(255, 255, 255);
    background-color: #008527;
   font-size: 20px;
    padding: 1%;
    border-radius: 8px;
}
#pay>a{
    text-decoration: none;
    color: white;
}
#finalpart{
    height: auto;
    width: 30%;
  
    margin: 50px auto;
    text-align: center;
    padding: 2%;
    background-color: #dbdbdb;
}
#finalpart>button{
    
    background-color: #008527;
    padding: 4%;
    border: none;
}
#finalpart>button>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#search-bar>div{
    margin-top: 10px;

}
#search-bar>div>input{
    padding: 2%;
}
#search-bar>div>button{
    padding: 2%;
}