        /* nav bar-top part  */
        * {
            box-sizing: border-box;
        }


        #nav {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            background-color: #f2f2f2;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 1.5%;
            padding-right: 1.5%;
        }

        #navtop1 {
            display: flex;
            gap: 10px;
            color: #e31b88;
        }

        #navtop2 {
            display: flex;
            gap: 10px;
            color: rgb(74, 74, 253);
        }

        #navtop1>a {
            margin-top: 13px;
        }

        #navtop2>a {
            margin-top: 13px;
        }

        /* app logo part nav part */


        /* #logoline {
            height: 150px;
            width: 100%;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        } */


        #logo {
            display: flex;
            margin-top: 15px;
            font-size: 25px;
            gap: 20px;
        }

        #logo>img {
            width: 20%;
            margin-left: 520px;
        }

        #logo>div>input {
            margin-top: 20px;
            padding: 3%;
            padding-right: 100px;
            font-size: 25px;
        }

        #logo>a {
            margin-top: 35px;
            margin-left: 20px;
            font-size: 25px;
            color: black;
        }

        #logo>a:hover {
            color: blue;
        }

        #options {

            display: flex;
            gap: 50px;
            margin-top: 30px;
            font-size: 21px;
            padding-bottom: 1%;

        }

        */ #options>a {
            text-decoration: none;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #4a4a4a;
        }

        #options>a {
            text-decoration: none;
        }


        /* adv part */

        #adv {
            background-color: #e6f5ff;
            text-align: center;
            padding-top: 1px;
            padding-bottom: 1px;
            color: rgb(122, 122, 245);
        }